@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Times New Roman', Times, serif;}
.li{list-style: none;}
.logo{margin-left: 30px; padding-top: 30px;}
header{position: relative; max-width: 100%; padding-top: 20px;}
.room1{display: flex; justify-content: space-between;}
.ul1{writing-mode: vertical-lr; letter-spacing: 8px; line-height: 35px; margin-right: 40px; font-size: 1rem;}
a{transition: all .3s ease-in-out; color: black; text-decoration: none;}
a:hover{color: rgb(251, 187, 161); font-size: 1.1rem;}
.back{
    opacity: 0; 
    width: 82%; 
    position: absolute; 
    top: 160px; 
    height: 600px; 
    object-fit: cover; 
    animation: img-change 15s infinite;

    }
.back:nth-child(1){animation-delay: 0s;} 
.back:nth-child(2){animation-delay: 5s;}
.back:nth-child(3){animation-delay: 10s;}

.togekun{position: absolute; top: 50px; left: 95px; object-fit: contain;}

@keyframes img-change{
    0%{opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 1;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    100%{opacity: 0;}
}
.section1{
    margin-top: 550px;
    max-width: 100%;
    height: auto;
}
.h12{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text1{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto;}

.section2{
    height: auto;
    max-width: 100%;
    margin-top: 50px;
}
.h13{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text2{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto; margin-bottom: 50px;}

.section3{
    height: auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.h14{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text3{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto;}

footer{position: relative; height: auto; width: 100%; background-color: rgb(242, 183, 183); padding: 0; display: flex;}
.ulF{width: 80%; margin-left: 20%; line-height: 50px; margin-top: 40px; padding-bottom: 40px;}
li{list-style: none;}
.liF{font-size: 1.2rem;}
.havetomato{position: absolute; top: -40px; right: 0;}
