@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box; font-family: 'Times New Roman', Times, serif;}
.li{list-style: none;}
.logo{font-family:Arial, Helvetica, sans-serif; margin-top: 40px; margin-left: 50px; position: relative;}
.logotext{position: absolute; top: -68px; left: -30px; width: 200px; height: 200px; object-fit: cover;}
.pomu{position: absolute; left: 230px; top: 10px;}
.pocha{position: absolute; top: 70px; left: 0;}
header{position: relative; max-width: 100%; padding-top: 20px;}
.room1{display: flex; justify-content: space-between;}
.ul1{writing-mode: vertical-lr; letter-spacing: 8px; line-height: 35px; margin-right: 40px; font-size: 1rem; z-index: 100;}
a{transition: all .3s ease-in-out; color: black; text-decoration: none; z-index: 20;}
a:hover{color: rgb(251, 187, 161); font-size: 1.1rem;}
.back{
    opacity: 0; 
    width: 82%;
    position: absolute; 
    top: 160px; 
    height: 800px; 
    object-fit: cover; 
    animation: img-change 15s infinite;

    }
.back:nth-child(1){animation-delay: 0s;} 
.back:nth-child(2){animation-delay: 5s;}
.back:nth-child(3){animation-delay: 10s;}

.togekun{position: absolute; top: 50px; left: 95px; object-fit: contain;}

@keyframes img-change{
    0%{opacity: 0;}
    10%{opacity: 1;}
    20%{opacity: 1;}
    30%{opacity: 1;}
    40%{opacity: 0;}
    100%{opacity: 0;}
}
.section1{
    margin-top: 770px;
    max-width: 100%;
    height: auto;
}
.h12{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text1{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto;}

.section2{
    height: auto;
    max-width: 100%;
    margin-top: 50px;
}
.h13{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text2{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto; margin-bottom: 50px;}

.section3{
    height: auto;
    max-width: 100%;
    margin-bottom: 50px;
}
.h14{font-size: 2.5rem; text-align: center; margin-bottom: 50px;}
.text3{font-size: 1.3rem; line-height: 40px; width: 70%; margin: 0 auto;}

footer{position: relative; height: auto; width: 100%; background-color: rgba(141, 185, 125, 0.87); padding: 0; display: flex;}
.ulF{width: 80%; margin-left: 20%; line-height: 50px; margin-top: 40px; padding-bottom: 40px;}
li{list-style: none;}
.liF{font-size: 1.2rem;}
.havetomato{position: absolute; top: -120px; right: 0; width: 400px; height: 400px;}

@media (max-width: 460px) {
    .room1{position: relative; margin-bottom: 0;  display: block;}
    .logo{font-size: .8rem;}
    .logotext{top: -50px; width: 150px; height: 150px; left: -60px;}
    .pomupocha{z-index: 100; position: absolute; width: 80px; height: auto; right: 10px; top: 0px;}
    .pomu,.pocha{width: 50px; height: 50px;}
    .pomu{left: 130px; top: -35px;}
    .pocha{left: 10px; top: 0px;}
    .back{position: absolute; width: 100%; object-fit: cover; height: 500px;}
    .section1{margin-top: 280px;}
    .section1::before{content: "";
        display: block;
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
    }
    .section2::before{content: "";
        display: block;
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
    }
    .section3::before{content: "";
        display: block;
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
    }
    .section3::before{content: "";
        display: block;
        height: 80px;
        margin-top: -80px;
        visibility: hidden;
    }

    .h12,.h13,.h14{font-size: 25px;}
    .h12::before{
        content: "";
        display: block;
        height: 100px;
        margin-top: -100px;
        visibility: hidden;
    }
    .text1,.text2,.text3{font-size: 15px;}
    .liF,.liF1,.liF2,.liF3{font-size: 15px;}
    .havetomato{width: 40%; height: 40%; object-fit: cover; top:166px;}
     a{position: relative; text-align: center; font-size: 22px; color: whitesmoke; width: 100%; display: inline-block; z-index: 100;}
    .ul1{width: 100%; z-index: 10; transition: all .3s ease-in-out; writing-mode: horizontal-tb; opacity: 0; text-align: left; line-height: 90px;}
    .ul1.open{opacity: 1; color: aliceblue; z-index: 100; padding-top: 160px;}
    #overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 900px;
        background-color: rgba(0,0,0,0.8);
        z-index: 0;
        display: none;
    }
    #overlay.show{
        display: block;
        z-index: 90;
        transition:  all .5s ease-in-out;
    }
    .ul1.close{z-index: 100; visibility: hidden;}
}

@media (min-width: 480px) {
    .pomupocha{opacity: 0;}
}